@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

i {
  font-style: normal;
  font-size: 12px;
}

.navBar {
  padding: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #f7f7f7;
  border: 1px solid #c2c2c2;
}

.navBar .logo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 10px;
}

.navBar .logo img {
  margin-left: 15px;
  width: 100px;
}

.navBar .user {
  width: 170px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navBar i {
  padding: 0 7.5px;
}

.search {
  margin-bottom: -16px;
  overflow: hidden;
}

.search form {
  border: 1px solid #b8b8b8;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.search input, .search button {
  border-radius: 0;
  border: none;
  height: 100%;
  margin: 0;
}

.search input {
  padding: 10px;
  width: 510px;
}

.search input:focus {
  border: 1px solid #0048ce;
  border: none;
}

.search button {
  width: 70px;
}

.mainbody {
  height: calc(100vh - 70px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.categories {
  width: 300px;
  background-color: #fdfdfd;
  border: 1px solid #e7e7e7;
  height: 100%;
}

.categories .categoriesSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 1px solid #dbdbdb;
}

.categories .categoriesSection .header {
  font-size: 15px;
  padding-left: 13px;
  margin-top: 10px;
}

.categories .category {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12.5px 15px;
  font-size: 13px;
}

.categories .category i {
  margin-left: 25px;
}

.categories .category .space {
  margin-left: 15px;
}

.categories .category:hover {
  background-color: #dfdfdf;
}

.HTSsection {
  width: 100%;
  height: 44px;
  background-color: white;
  border: 1px solid #e7e7e7;
  font-size: 13px;
  text-align: center;
}

.HTSsection ul {
  list-style: none;
}

.HTSsection ul li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: 60px;
}

.HTSsection .VideoList {
  padding: 20px;
  background-color: #f3f3f3;
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
  text-align: left;
  height: calc(95vh - 70px);
  overflow-y: scroll;
}

.HTSsection .VideoList .VideoListBox {
  border: 1px solid #e7e7e7;
  background-color: white;
  padding: 5px;
}

.HTSsection .VideoList .footer {
  background-color: white;
  text-align: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px;
  border: 1px solid #d4d4d4;
}
/*# sourceMappingURL=style.css.map */